#map
  #body

    canvas(height=500, width=1024, id="tutorial")

    p Date: 
      input(type="text", id="datepicker")
    p Hex:
      input(type="text", id="hex")
    p
      input(type="submit", id="submit")                                                                
