!!!
html
  head
    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Actor', rel='stylesheet', type='text/css')

    script(type="text/javascript", src="http://www.google.com/jsapi")
    script(type="text/javascript")
      google.load("jquery", "1.3.2")
    script(type="text/javascript", src="/js/user.js")

  body
    #container!= body

