* {
  outline: none;
}

body, html { height: 100%; }
body, html, div { margin: 0; padding: 0}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
}

a { color: #333; }

li.selected { background-color: red; }

textarea {
  width: 70%;
  height: 7em;
}

input[type=text] {
  width: 70%;
  height: 2em;
}

textarea, input[type=text] {
  padding: 5px;
  border: 1px solid #bbb;
}

#container {
  font-size: 2em;
  background-color: white;
  padding-top: 10px;
  text-align: center;
}


canvas {
    border: solid black;
    border-width: 0 0 5px 5px;
}