* {
  outline: none;
}

body, html { height: 100%; }
body, html, div { margin: 0; padding: 0}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
}

a { color: #333; }

textarea {
  width: 70%;
  height: 7em;
}

input[type=text] {
  width: 70%;
  height: 2em;
}

textarea, input[type=text] {
  padding: 5px;
  border: 1px solid #bbb;
}

#container {
  font-size: 2em;
  background-color: white;
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;
}


canvas {
  border: 5px solid #333;
}